body {
  background: url('https://codeberryschool.github.io/simple-quote-page/assets/freedom.jpg') no-repeat center center fixed;
  background-size: cover;
}

h1, h3 {
  text-align: center;
  color:#333;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  margin: 6rem 5rem 3rem;
}

h3 {
  font-family: 'Crimson Text', serif;
  font-size: 1.2rem;
  font-style: italic;
}